.profile-popup {
  border: 1px solid #a8a8a8;
  width: 300px;
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 10px 10px 10px;

  .profile-information{
    display: flex;
    padding-bottom: 10px;
    .profile-information-left{
      padding-right: 10px;
      .image{
        border-radius: 100px;
        max-width: 50px;
      }
    }

    .profile-information-right{
      .name{
        font-weight: 600;
        font-size: 16px;
      }
      .about{
        font-size: 14px;
      }
    }
  }
}
