.common-btn{
    cursor: pointer;
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    border: 2px solid rgb(0, 119, 255);
    color: rgb(0, 119, 255);
    font-weight: 600;
    font-size: 14px;
    border-radius: 20px;
}

.common-btn:hover{
    background-color: whitesmoke;
}