.modal-textarea{
    border: none;
    outline: none;
    resize: none;
    color: black;
    font-size: 14px;
    width: 100%;
    height: 160px;
    font-family: Inter, system-ui, Arial, sans-serif;
}

.image-label{
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 20px;
}
