body {
  margin: 0;
  padding: 0;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 100vh;

  .heading {
    font-weight: 500;
    font-family: system-ui;
    color: rgba(0, 0, 0, 0.9);
    padding-top: 100px;
    display: flex;
  }

  .subheading {
    margin-top: -5px;
    font-family: system-ui;
    padding-bottom: 20px;
  }
}

.auth-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;

  .common-input {
    height: 20px;
    padding: 20px;
    font-family: system-ui;
    border-radius: 30px;
    font-size: 16px;
  }
}

.linkedin-logo {
  width: 80px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.login-btn {
  width: 100%;
  height: 50px;
  cursor: pointer;
  background-color: #0073b1;
  border-radius: 30px;
  outline: none;
  border: none;
  font-family: system-ui;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  margin-top: 20px;
}

.login-btn:hover {
    transition: all 300ms;
    background-color: #004c75;
  }

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 0.5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
  }
}

.go-to-signup {
  font-size: 16px;
}

.join-now {
  color: #0072b1;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.forgot-password {
  color: #0072b1;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.google-btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
