.post-card-container {
  max-width: 80%;
  width: 800px;

  .post-card {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    position: relative;

    .action-container{
      position: absolute;
      right: 20px;
      display: flex;
      margin-top: 4px;

      .action-icon{
        cursor: pointer;
        color: #8a8a8a;
        margin-right: 10px;
      }

      .action-icon:hover{
        color: #000000;
      }
    }

    .post-card-image-container {
      padding-top: 4px;

      .post-card-image {
        margin-right: 10px;
        width: 40px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 1px solid rgb(170, 170, 170);
        object-fit: cover;
        cursor: pointer;
      }
    }

    .post-content-container {
      .name-timestamp {
        display: flex;
        align-items: center;
      }

      .post-card-username {
        font-size: 16px;
        font-weight: 600;
        padding-right: 4px;
        cursor: pointer;
      }

      .post-card-timestamp {
        font-size: 12px;
        color: #8a8a8a;
      }

      .post-image{
        margin-top: 20px;
        max-width: 100%;
        width: 400px;
        height: auto;
        border-radius: 10px;
      }

      .post-card-status {
        font-size: 14px;
      }

      .actions {
        display: flex;
        flex-direction: column;

        p {
          font-size: 14px;
          color: #8a8a8a;
        }

        .like-comment {
          display: flex;
          color: #8a8a8a;
          gap: 20px;
        }
      }
    }
  }

  .comments-container {
    font-size: 14px;
    margin-top: 10px;
    background-color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    color: black;

    .comments-button {
      font-family: Inter;
      font-weight: 600;
      color: #0079bb;
      font-size: 12px;
      border: none;
      background-color: white;
      cursor: pointer;
    }

    .recent-comment {
      .comment-content {
        margin-bottom: 4px;
        gap: 4px;

        .comment-heading {
          display: flex;
          align-items: flex-start;

          .profile-card-image {
            margin-right: 10px;
            margin-top: 4px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid rgb(170, 170, 170);
            object-fit: cover;
            cursor: pointer;
          }

          .name-timestamp {
            display: flex;
            align-items: center;

            .comment-content-name {
              font-weight: 600;
              border-radius: 4px;
              padding-right: 4px;
              cursor: pointer;
            }

            .comment-content-timestamp {
              font-size: 12px;
              color: #8a8a8a;
            }
          }
        }
      }
    }
  }
}
