.post-card-container{
    max-width: 80%;
    width: 800px;

    .post-card{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: auto;
        background-color: white;
        margin-top: 10px;
        padding: 20px;
        border-radius: 10px;
        
        .post-card-username{
            font-size: 16px;
            text-decoration: underline;
            cursor: pointer;
        }

        .post-card-timestamp{
            font-size: 14px;
        }

        .post-card-status{
            font-size: 14px;
        }

        .actions{
            display: flex;
            flex-direction: column;

            p{
                font-size: 14px;
                color: #757575;
            }

            .like-comment{
                display: flex;
                color: #757575;
                gap: 20px;
            }
        }
    }

    .comments-container{
        font-size: 14px;
        margin-top: 10px;
        background-color: white;
        padding: 10px 20px 10px 20px;
        border-radius: 10px;
        color: black;

        .comments-button{
            font-family: Inter;
            font-weight: 600;
            color: #0079bb;
            font-size: 12px;
            border: none;
            background-color: white;
            cursor: pointer;
        }
    }
}
