.post-card-container{
    max-width: 80%;
    width: 800px;

    .post-card{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: auto;
        background-color: white;
        margin-top: 10px;
        padding: 20px;
        border-radius: 10px;
        
        .post-card-username{
            font-size: 14px;
        }

        .post-card-timestamp{
            font-size: 14px;
        }

        .post-card-status{
            font-size: 14px;
        }
    }
}
