.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-posts {
  width: 100%;
}

.profile-card-container {
  max-width: 80%;
  width: 800px;
  height: auto;
  background: white;
  margin: 30px;
  border-radius: 20px;
  padding: 20px;
  position: relative;

  .edit-btn {
    position: absolute;
    right: 20px;
    padding: 5px;
    cursor: pointer;
  }

  .edit-btn:hover{
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 10px;
  }

  .items-container {
    display: flex;
    width: 100%;

    .left-items {
      width: 70%;

      .image{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 2px solid rgb(170, 170, 170);
        padding: 4px;
        object-fit: cover;
        cursor: pointer;
      }

      .username {
        color: black;
        font-weight: 600;
        font-size: 24px;
      }

      .about {
        font-weight: 600;
      }

      .location {
        font-weight: 400;
      }

      .website{
        color: #004c75;
      }
    }

    .right-items {
      width: 30%;
      margin-top: 192px;
      .company {
        font-weight: 400;
      }

      .college {
        font-weight: 400;
      }
    }
  }
}
