.like-container{
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;

    p{
        font-size: 14px;
    }

    .blue{
        color: #0079bb;
        font-weight: 500;
    }
}