.profile-edit {
  display: flex;
  justify-content: center;

  .profile-edit-container {
    max-width: 80%;
    width: 800px;
    height: 50vh;
    background: white;
    margin: 30px;
    border-radius: 5px;
    padding: 20px;
    position: relative;

    .back-btn {
      position: absolute;
      right: 20px;
      padding: 10px 20px 10px 20px;
      width: 80px;
      border: none;
      border-radius: 10px;
      color: white;
      background-color: #0073b1;
      cursor: pointer;
    }

    .profile-edit-inputs {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
